.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(196, 6, 29, 0.89);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
    &:hover {
      background: #2e5824;
      color: rgba(176, 172, 34, 0.79);
    }
}