.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #5093E2;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
    &:hover {
      background: #0762d2;
      color: rgba(0, 0, 0, 0.69);
    }
}