.card {
  &__footer {
    background: #D5D4D8;
    text-align: center;
    border-radius: 0 0 15px 15px;
  }

  &__footer-container {
    padding: 20px 0;
    & a {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}