.header {
  background: #F55A5A;
  padding: 15px 0;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #fff;
    & img {
      margin-right: 6px;
    }
  }
}